<p id="notice"><%= notice %></p>
<div class="container">
<h1>Clients</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Anrede: </th>
        <th>Name: </th>
        <th>Geburtsdatum: </th>
       
        <th>Email: </th>
        
      </tr>
    </thead>

    <tbody>



      <% @clients.each do |client| %>
        <tr id="<%= client_path(client) %>" class= "rowlink">
          <td><%= client.title %></td>
          <td><%= client.fullname %></td>
          <td><%= client.date_of_birth %></td>
          <td><%= client.email %></td>
         
        </tr>
      <% end %>





    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Client', new_client_path %>
</div>



