<p id="notice"><%= notice %></p>
<div class="container">
<h1>Clients</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Anrede: </th>
        <th>Name: </th>
        <th>Geburtsdatum: </th>
       
        <th>Email: </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>



      <% @clients.each do |client| %>
        <tr>
          <td><%= client.title %></td>
          <td><%= client.fullname %></td>
          <td><%= client.date_of_birth %></td>
          <td><%= client.email %></td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>





    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Client', new_client_path %>
</div>