
<p id="notice"><%= notice %></p>

<h1 class="<%= @client.gender_class %>">Hallo <%= @client.title %> <%= @client.lastname %></h1>


<div class="container">

<h3>Ihre Daten:</h3>
<p>
  <strong>Anrede:</strong>
  <%= @client.title %>
</p>

<p>
  <strong>Vorname:</strong>
  <%= @client.firstname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @client.lastname %>
</p>

<p>
  <strong>Geburtsdatum:</strong>
  <%= @client.date_of_birth %>
</p>



<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<% if @client.phone.present? %>

<p>
  <strong>Telefon:,</strong>
  <%= @client.phone %>
</p>

<% end %>

<% if @client.notifications.present? %>

<p >
  <strong>Ihre Nachricht:</strong>
  <%= @client.notifications %>
</p>

<% end %>

<%= link_to 'Ihre Daten bearbeiten', edit_client_path(@client), class: "btn btn-primary" %> 

</div>
<br/>

<%= link_to raw('Zur&uuml;ck'), clients_path, class: "btn btn-danger" %>

<%= link_to 'Startseite', "http://localhost:3000/", class: "btn btn-primary"%>