<table class="table table-hover">
  <thead>
    <tr>
      <th>Marke</th>
      <th>Model</th>
      <th>Farbe</th>
      <th>PS</th>
      <th>Kraftstoff</th>
    </tr>
  </thead>



  <tbody>
    <% @cars.each do |car| %>
        <tr data-path="/cars/<%= car.id %>" class= "rowlink">
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.hp %></td>
        <td><%= car.typeof %></td>
      </tr>
    <% end %>
  </tbody>
</table>