<p id="notice"><%= notice %></p>

<h2>Auto:</h2>

<div class="container">
<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>


<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @car.hp %>
</p>

<p>
  <strong>Typeof:</strong>
  <%= @car.typeof %>
</p>

<%= link_to 'Daten bearbeiten', edit_car_path(@car), class: "btn btn-primary" %> 

</div>

<br/>
<%= link_to raw('Zur&uuml;ck'), cars_path, class: "btn btn-danger" %>
